@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
/*
Theme Name: HOMME THEME, 
Theme URI: http://www.facebook.com/luke.helg/
Author: Luke Helg
Author URI: http://www.facebook.com/luke.helg/
Description: Sample theme for Yuhei.
Version: 1.0
License URI: http://www.facebook.com/luke.helg/
*/
body {
  font-family: 'Open Sans Condensed';
  color: #333333;
}
section {
  overflow: auto;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.navbar {
  background-color: #fce35c;
  border-bottom: 1px solid #fce35c;
  height: 80px;
}
.navbar-nav {
  font-family: 'Open Sans Condensed';
  font-size: 17px;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a {
  color: #333333;
  line-height: 30px;
  margin-left: 40px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-collapse {
  margin-top: 10px;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #333333;
}
.navbar-inverse .navbar-nav > .active > a {
  color: #333333;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #333333;
}
#nav-phone {
  float: left;
  padding-top: 25px;
  font-size: 15px;
  color: #333333;
  text-decoration: none;
}
#nav-phone:hover {
  color: lightgray;
}
.navbar-inverse .navbar-brand {
  color: white;
  padding-top: 20px;
}
.navbar-inverse .navbar-brand .logo {
  font-size: 2em;
  letter-spacing: -2px;
}
.navbar-inverse .navbar-brand .tagline {
  font-size: 0.8em;
  font-family: 'Helvetica Neue';
  font-weight: 300;
}
.logo-text-wrapper {
  border: 10px solid white;
  margin: 110px 35%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo-text-wrapper .logo-text-main {
  font-size: 4em;
  letter-spacing: -2px;
  font-family: inherit;
}
.logo-text-wrapper .logo-text-sub {
  font-size: 2em;
}
#down {
  cursor: pointer;
}
#services {
  background-color: #fce35c;
  color: #333333;
  padding-top: 80px;
  padding-bottom: 80px;
}
#services .services-title {
  font-family: 'Satisfy';
}
#services .fa {
  font-size: 6em;
  padding-bottom: 20px;
}
#services #service-content {
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
}
#services #service-content h4 {
  font-family: inherit;
}
#services #service-content a {
  color: white;
}
#services #service-content .fa:hover {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#services #service-content .fa-certificate:hover {
  color: #9b59b6;
}
#services #service-content .fa-cube:hover {
  color: #3498db;
}
#services #service-content .fa-anchor:hover {
  color: #FFC153;
}
#introduction-wrapper {
  padding-top: 50px;
}
#introduction-wrapper .col-md-8 {
  padding-top: 50px;
  font-size: 1.3em;
}
#footer {
  background-color: #ecf0f1;
  padding-top: 50px;
  padding-bottom: 50px;
}
#footer .fa {
  padding: 0px 15px;
}
#footer p {
  font-size: 1em;
}
#footer h3 {
  font-family: inherit;
}
#footer .img-responsive {
  max-height: 150px;
  margin: auto;
}
#footer .footer-share-buttons {
  padding-top: 30px;
}
.footer-col {
  padding: 15px 35px;
}
.footer-col-content {
  padding-top: 25px;
}
#footer-recent-posts {
  text-align: left;
}
.aligncenter {
  margin: auto;
}
/*PAGES*/
#page-header {
  margin-top: 150px;
}
#page-title {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  padding: 15px 40px;
  font-size: 2.5em;
}
.content-container {
  padding: 80px 0px;
}
/**
*
*  BLOG STYLES
*
**/
.single-post-container {
  margin-bottom: 50px;
}
.end-marker {
  text-align: center;
  color: lightgray;
}
.end-marker .fa {
  font-size: 1.5em;
}
.entry-header {
  height: 80px;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  margin-bottom: 35px;
}
.entry-details {
  position: relative;
  width: 80px;
  height: 80px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #c0392b;
  line-height: 80px;
  text-align: center;
  font-family: 'Open Sans Condensed';
  font-size: 1.2em;
  color: white;
}
.entry-title-wrapper {
  margin-left: 80px;
  position: relative;
  bottom: 70px;
}
.entry-title {
  display: inline;
  font-size: 2em;
  margin-left: 20px;
}
.entry-title a {
  color: #333;
  text-decoration: none;
}
.entry-author {
  margin-left: 20px;
  margin-top: 10px;
}
.entry-author .fa {
  margin: 0px 10px;
}
.entry-author .first {
  margin-left: 0px;
}
.separator {
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
}
.separator-top {
  border-bottom: 1px solid lightgray;
}
.post-content {
  padding: 0px 50px 30px 50px;
}
.addthis_default_style .at300b {
  width: 95px !important;
}
#post-social-buttons {
  padding: 10px 0px;
}
#disqus_thread {
  margin-top: 30px;
}
/*MENU PAGE*/
.price {
  font-size: 2.2em;
}
.item {
  margin-bottom: 80px;
}
.item-explanation {
  padding-top: 50px;
}
.extra-image {
  padding-top: 0px;
}
.extra-image img {
  padding-top: 20px;
}
.hide-mobile {
  display: block;
}
.hide-large {
  display: none;
}
/*SIDEBAR*/
.widget-title {
  padding-bottom: 20px;
}
/*PARALLAX IMAGES*/
.home-bg {
  background: url('includes/img/color-bg.jpg') no-repeat center center fixed;
  color: #fff;
  background-size: cover;
  padding-top: 80px;
  height: 600px;
}
.blog-bg {
  background: url('includes/img/color-bg.jpg') no-repeat center center fixed;
  color: #fff;
  background-size: cover;
  padding-top: 80px;
  height: 400px;
}
.menu-bg {
  background: url('includes/img/color-bg.jpg') no-repeat center center fixed;
  color: #fff;
  background-size: cover;
  padding-top: 80px;
  height: 400px;
}
.access-bg {
  background: url('includes/img/color-bg.jpg') no-repeat center center fixed;
  color: #fff;
  background-size: cover;
  padding-top: 80px;
  height: 400px;
}
/*ACCESS*/
#contact-form-wrapper {
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#bootstrap-style-input {
  line-height: 30px;
  border-radius: 5px;
  border-image: none;
  box-shadow: none;
  border: 1px solid lightgray;
  padding-left: 5px;
  font-family: 'Helvetica';
  font-size: 13px;
  color: lightgray;
}
/*SIDEBAR SHIT*/
.sidebar-widget {
  margin: 50px auto;
}
.sidebar-title {
  margin-bottom: 30px;
}
.sidebar-widget-content {
  padding: 0px 0px;
}
#mailing-list-widget #mailing-list-signup-form {
  text-align: center;
}
#mailing-list-widget p {
  padding-bottom: 25px;
}
/*Override for top-widget*/
#sidebar #facebook-like-widget {
  margin-top: 0px;
}
#sidebar-access #mailing-list-widget {
  margin-top: 0px;
}
#sidebar-access #mailing-list-widget h3 {
  margin-top: 0px;
}
/*! Swipebox v1.2.8 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */html.swipebox-html.swipebox-touch {
  overflow: hidden !important;
}
#swipebox-overlay img {
  border: none !important;
}
#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999!important;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#swipebox-slider {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
}
#swipebox-slider .slide {
  background: url(includes/img/loader.gif) no-repeat center center;
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#swipebox-slider .slide .swipebox-video-container,
#swipebox-slider .slide img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#swipebox-slider .slide .swipebox-video-container {
  background: 0 0;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
  width: 100%!important;
  height: 100%!important;
  position: absolute;
  top: 0;
  left: 0;
}
#swipebox-action,
#swipebox-caption {
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}
#swipebox-action {
  bottom: -50px;
}
#swipebox-action.visible-bars {
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
#swipebox-action #swipebox-close,
#swipebox-action #swipebox-next,
#swipebox-action #swipebox-prev {
  background-image: url(includes/img/icons.png);
  background-repeat: no-repeat;
  border: none!important;
  text-decoration: none!important;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
}
#swipebox-action #swipebox-prev {
  background-position: -32px 13px;
  right: 100px;
}
#swipebox-action #swipebox-next {
  background-position: -78px 13px;
  right: 40px;
}
#swipebox-action #swipebox-close {
  background-position: 15px 12px;
  left: 40px;
}
#swipebox-action #swipebox-next.disabled,
#swipebox-action #swipebox-prev.disabled {
  opacity: 0.3;
}
#swipebox-caption {
  top: -50px;
  text-align: center;
}
#swipebox-caption.visible-bars {
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
#swipebox-slider.rightSpring {
  -webkit-animation: rightSpring .3s;
  animation: rightSpring 0.3s;
}
#swipebox-slider.leftSpring {
  -webkit-animation: leftSpring .3s;
  animation: leftSpring 0.3s;
}
@-webkit-keyframes rightSpring {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes rightSpring {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes leftSpring {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes leftSpring {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  #swipebox-action #swipebox-close {
    left: 0;
  }
  #swipebox-action #swipebox-prev {
    right: 60px;
  }
  #swipebox-action #swipebox-next {
    right: 0;
  }
}
#swipebox-overlay {
  background: #0d0d0d;
}
#swipebox-action,
#swipebox-caption {
  text-shadow: 1px 1px 1px #000;
  background-color: #0d0d0d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d0d0d), to(#000000));
  background-image: -webkit-linear-gradient(top, #0d0d0d, #000000);
  background-image: linear-gradient(to bottom, #0d0d0d, #000000);
  opacity: 0.95;
}
#swipebox-action {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#swipebox-caption {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff!important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}
@media (max-width: 640px) {
  #sidebar-access #mailing-list-widget {
    margin-top: 30px;
    text-align: center;
  }
  #sidebar-access #mailing-list-widget .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
  }
  #contact-form-wrapper {
    padding-left: 15px;
  }
  #access-content-column {
    text-align: center;
  }
  #recent-widget {
    display: none;
  }
  .logo-text-wrapper {
    border: 7px solid white;
    margin: 50px 10%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .logo-text-wrapper .logo-text-main {
    font-size: 3em;
    letter-spacing: -2px;
  }
  .logo-text-wrapper .logo-text-sub {
    font-size: 1.8em;
  }
  /*MOBILE MENU STYLES*/
  .navbar {
    background-color: #fce35c;
    margin-bottom: 0px;
    border-radius: 0px;
    height: 50px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #fce35c;
  }
  .navbar-nav > li > a {
    line-height: 30px !important;
  }
  .navbar-nav {
    margin: 0 auto;
    display: block;
    float: none;
    width: 100%;
    font-family: 'Helvetica';
    font-size: 14px;
  }
  .navbar-nav > li {
    display: block;
    float: none;
    text-align: center;
    vertical-align: middle;
  }
  .navbar-nav > li > a {
    background-color: white;
    border-bottom: 1px solid lightgray;
  }
  .navbar-nav > li:hover {
    background-color: white;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: #333;
    margin-left: 0px;
  }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: lightgray;
  }
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: white;
    color: purple;
  }
  .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
  }
  #nav-logo {
    display: block;
  }
  .navbar-brand {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-fixed-top {
    position: relative;
  }
  .navbar-inverse .navbar-collapse {
    margin-top: 0px;
  }
  #nav-phone {
    float: left;
    padding-top: 15px;
    font-size: 15px;
    color: white;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    text-decoration: none;
  }
  #nav-phone:hover {
    color: lightgray;
  }
  .navbar-inverse .navbar-brand {
    color: white;
    padding-top: 15px;
  }
  .navbar-inverse .navbar-brand .logo {
    font-size: 1.5em;
    letter-spacing: -2px;
  }
  .navbar-inverse .navbar-brand .tagline {
    display: none;
  }
  #footer-recent-wrapper {
    display: none;
  }
  .hide-mobile {
    display: none;
  }
  .hide-large {
    display: block;
  }
  .item-explanation {
    padding-top: 10px;
  }
  #sidebar {
    display: none;
  }
  .post-content {
    padding: 0px 20px 30px 20px;
  }
  .mobile-entry-title-wrapper {
    padding: 15px 0px;
  }
  .mobile-entry-title-wrapper .mobile-entry-title {
    font-size: 1.7em;
    margin-bottom: 15px;
  }
  .mobile-entry-title-wrapper .fa {
    margin-right: 10px;
    margin-left: 10px;
  }
  .mobile-entry-title-wrapper .first {
    margin-left: 0px;
  }
  .home-bg {
    padding-top: 30px;
    height: 400px;
  }
  .blog-bg {
    background: #fff;
    padding-top: 30px;
    height: 150px;
  }
  .menu-bg {
    background: #fff;
    padding-top: 30px;
    height: 150px;
  }
  .access-bg {
    background: #fff;
    padding-top: 30px;
    height: 150px;
  }
  #down {
    display: none;
  }
  #service-content .col-md-4 {
    margin-bottom: 40px;
  }
  #page-title {
    font-size: 1.5em;
  }
  #page-header {
    margin-top: 50px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .home-bg {
    background: url('includes/img/shop.jpg') center fixed no-repeat;
    background-size: cover;
    background-attachment: scroll;
    overflow: hidden;
  }
}
