/*
    Plugin: Bootslider
    Plugin Website: http://themes.grozav.com/bootslider

    Author: Alex GROZAV
    Author Website: http://grozav.com
*/

/*SET SIZE!*/
#bootslider{
  height: 100%;
}

  .bs-slide{
                height:550px;
            }
  @media screen and (max-width:767px){
        .bs-slide{
        height:300px;
        }
  }
.bootslider {
  zoom: 1;
  z-index: 1;
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%; }
  .bootslider:before, .bootslider:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .bootslider:after {
    clear: both; }
  .bootslider .bs-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: #000;
    display: block; }
    .bootslider .bs-loader #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -15px;
      margin-top: -15px; }
  .bootslider .bs-container {
    display: block;
    position: relative; }
    .bootslider .bs-container .bs-slide {
      width: 100%;
      z-index: 0;
      top: 0;
      left: 0;
      margin: 0;
      display: none;
      position: relative; }
      .bootslider .bs-container .bs-slide .bs-foreground {
        top: 0;
        left: 0;
        margin: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        position: absolute; }
        .bootslider .bs-container .bs-slide .bs-foreground [data-animate-in] {
          display: none; }
        .bootslider .bs-container .bs-slide .bs-foreground [data-animate-in].visible {
          display: block; }
        .bootslider .bs-container .bs-slide .bs-foreground iframe {
          z-index: 10; }
        .bootslider .bs-container .bs-slide .bs-foreground .bs-video-fullscreen {
          top: 0;
          left: 0;
          width: 100%;
          margin: 0;
          padding: 0; }
        .bootslider .bs-container .bs-slide .bs-foreground .heading {
          color: #fff;
          font-size: 72px; }
          @media screen and (max-width: 767px) {
            .bootslider .bs-container .bs-slide .bs-foreground .heading {
              font-size: 36px; } }
      .bootslider .bs-container .bs-slide .bs-background {
        top: 0;
        left: 0;
        margin: 0;
        z-index: 2;
        width: 100%;
        position: relative; }
        .bootslider .bs-container .bs-slide .bs-background img {
          display: block;
          width: 100%;
          height: auto; }
    .bootslider .bs-container .bs-slide.active {
      z-index: 1; }
    .bootslider .bs-container .bs-slide.visible {
      display: block; }
  .bootslider .bs-progress {
    height: 5px; }
  .bootslider .bs-thumbnails {
    width: 100%;
    display: block;
    position: relative; }
    .bootslider .bs-thumbnails ul {
      margin: 0;
      padding: 0;
      position: relative;
      background: #000; }
      .bootslider .bs-thumbnails ul .bs-thumbnail {
        float: left;
        display: block;
        position: relative;
        margin: 0;
        background: #000;
        z-index: 0; }
        .bootslider .bs-thumbnails ul .bs-thumbnail img {
          width: 100%;
          height: auto;
          filter: alpha(opacity=30);
          -moz-opacity: 0.3;
          -khtml-opacity: 0.3;
          opacity: 0.3; }
      .bootslider .bs-thumbnails ul .active img {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1; }
  .bootslider .bs-pagination .pagination {
    margin: 20px 0 20px 0; }
  .bootslider .bs-pagination .active a {
    z-index: 0;
    background: #e74c3c;
    border-color: #e74c3c; }
  .bootslider .bs-pagination .active a:hover {
    color: #fff; }
  .bootslider .bs-pagination a:hover {
    color: #e74c3c; }
  .bootslider .bs-next {
    z-index: 5; }
  .bootslider .bs-prev {
    z-index: 5; }

/* 
Color Classes
================================
*/

.white {
  background-color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

a:hover.white {
  background-color: #f2f2f2; }

.text-white, .text-white * {
  color: white; }

a:hover.custom {
  background-color: #0b1e16; }

.text-custom, .text-custom * {
  color: #123123; }

.absolute {
  position: absolute; }

.image-layer {
  width: 100%;
  height: auto; }

  .bootslider .bs-container .bs-slide .bs-foreground .heading {
  font-weight: 300; }
.bootslider .bs-progress {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }
.bootslider .bs-thumbnails {
  z-index: 0;
  position: relative; }
  .bootslider .bs-thumbnails ul .bs-thumbnail {
    margin: 0 0 20px 0; }
    .bootslider .bs-thumbnails ul .bs-thumbnail img {
      filter: alpha(opacity=30);
      -moz-opacity: 0.3;
      -khtml-opacity: 0.3;
      opacity: 0.3; }
  .bootslider .bs-thumbnails ul .active img {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
.bootslider .bs-pagination {
  z-index: 99;
  right: 0;
  margin: 0 0 20px 0;
  position: absolute; }
  .bootslider .bs-pagination ul {
    margin: -70px 50px 0 0; }
    @media screen and (max-width: 767px) {
      .bootslider .bs-pagination ul {
        margin: -30px 20px 0 0; } }
    .bootslider .bs-pagination ul li {
      margin: 0 5px;
      width: 15px;
      height: 15px;
      line-height: 20px; }
      @media screen and (max-width: 767px) {
        .bootslider .bs-pagination ul li {
          width: 7px;
          height: 7px;
          line-height: 10px; } }
      .bootslider .bs-pagination ul li a {
        position: absolute;
        margin: -5px 0 0 0;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        background: #fff;
        text-indent: -10000px;
        width: 15px;
        height: 15px;
        display: block;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5; }
        @media screen and (max-width: 767px) {
          .bootslider .bs-pagination ul li a {
            width: 7px;
            height: 7px;
            margin: -3px 0 0 0; } }
  .bootslider .bs-pagination .active {
    width: 20px;
    height: 20px; }
    @media screen and (max-width: 767px) {
      .bootslider .bs-pagination .active {
        width: 10px;
        height: 10px; } }
    .bootslider .bs-pagination .active a {
      margin: -2px 0 0 0;
      width: 20px;
      height: 20px;
      background: #fff;
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1; }
      @media screen and (max-width: 767px) {
        .bootslider .bs-pagination .active a {
          width: 10px;
          height: 10px; } }
.bootslider .bs-controls {
  width: 100px;
  z-index: 99;
  font-size: 48px;
  position: absolute;
  display: block;
  margin: -100px 0  0 50px; }
  @media screen and (max-width: 767px) {
    .bootslider .bs-controls {
      width: 40px;
      font-size: 24px;
      margin: -40px 0  0 20px; } }
  .bootslider .bs-controls .bs-next {
    display: block;
    color: #fff;
    float: right; 
    opacity: 0.5;
  }
  .bootslider .bs-controls .bs-prev {
    display: block;
    color: #fff;
    float: left; 
    opacity: 0.5;
  }

/*FROM FIXED HEIGHT CSS*/
.bootslider .bs-container .bs-slide .bs-background img.fullheight {
  height: 100% !important;
  /*width: auto !important;*/
  position: fixed !important; }
.bootslider .bs-container .bs-slide .bs-background img.fullwidth {
  width: 100% !important;
  height: auto !important;
  position: fixed !important; }
.bootslider .bs-progress {
  bottom: 0;
  left: 0;
  position: absolute !important;
  margin: 0;
  width: 100%;
  z-index: 999; }


